<a href="/" class="navitem">Stand</a>
<a href="/today.html" class="navitem">Vandaag</a>
<div class="dropdown">
    <button class="dropbtn">Bonus
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/bonus/bonusrules.html" class="dropitem">Player of the Day</a>
        <a href="/bonus/playerspecials.html" class="dropitem">Speler Specials</a>
    </div>
</div>
<a href="/overall.html" class="navitem">Inzichten</a>
<a href="/submissions.html" class="navitem">Inzendingen</a>
