<a href="/" class="navitem">Stand</a>
<a href="/today.html" class="navitem">Vandaag</a>
<div class="dropdown">
    <button class="dropbtn">Head to head
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/h2h/group.html" class="dropitem">Groepsfase</a>
        <a href="/h2h/ko.html" class="dropitem">Knockouts</a>
        <a href="/h2h/bonus.html" class="dropitem">Bonus</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Bonus
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/bonus/bonusrules.html" class="dropitem">Bonusregels</a>
        <a href="/bonus/playerspecials.html" class="dropitem">Speler Specials</a>
    </div>
</div>
<a href="/insights/overall.html" class="navitem">Inzichten</a>
<a href="/submissions.html" class="navitem">Inzendingen</a>
<a href="/rules.html" class="navitem">Spelregels</a>
