body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f4f4f4;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: .85em;
    margin-bottom: 0px;
}

p.italic {
    margin-top: 0;
    margin-bottom: 15px;
}

form {
    max-width: 61vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group-title {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.group-matchlist {
    list-style-type: none;
    padding: 0;
}

.match {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
}

.bonus-questions-list {
    list-style-type: none;
    padding-left: 0;
}

li.question {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

li.question input[type="text"] {
    background-color: #333;
    color: #eee;
}

.match input[type="number"] {
    width: 40px;
    padding: 5px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    margin: 0 5px;
    text-align: center;
}

.score-seperator {
    margin: 0 5px;
}

button {
    border: none;
    color: #f4f4f4;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

button[type="submit"], button#KOR16-autofill {
    background-color: #04AA6D;
    cursor: pointer;
}

button[type="submit"]:hover, button#KOR16-autofill:hover {
    background-color: #048354;
}

input[type="text"] {
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 50px;
}

span.username input[type="text"] {
    max-width: 115px;
    background-color: #222;
    color: #eee;
}

input[type="text"]::placeholder {
    color:#555;
}

#recaptcha {
    margin: auto;
    width: 60px;
}

span.username {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

span.points, span.note {
    font-style: italic;
    font-size: .7em;
}

#navigation-buttons {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#navigation-buttons button[type="button"] {
    background-color: #96D4D4;
}

#navigation-buttons button[type="button"]:hover {
    background-color: #79abab;
}

span.bonus-rule {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .3em;
}

span.explanation {
    display: block;
    margin-bottom: .2em;
}

span.exception {
    font-style: italic;
    font-size: .8em;
}

th.country {
    text-align: left;
}

td {
    text-align: center;
}

td.country {
    text-align: left;
    width: 50%;
}

.standings {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Adjust as needed */
    grid-gap: 10px; /* Adjust spacing between tables */
}

.table-wrapper {
    border: 1px solid #333; /* Add border for better visualization */
}

.group-standings {
    width: 100%; /* Ensures the table takes full width of its container */
}

.group-standings tbody tr:nth-child(-n+8) {
    background-color: #03784d;
}

.group-standings tbody tr:nth-child(n+9):nth-child(-n+24) {
    background-color: #334949;
}

.ko-input-field {
    text-align: center;
    background-color: #333;
    color: #f4f4f4;
    border-radius: 50px;
    margin: 3px;
    padding: 2px;
    width: 20%;
}

button#KOR16-autofill {
    font-size: .5em;
    margin-left: 10px;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 0;
    transition: width 0.3s ease;
}

@media (max-width:820px) {
    form {
        max-width: 80vw;
    }
}

@media (max-width:430px) {
    form {
        font-size: 13px;
    }
}

@media (max-width:380px) {
    form {
        font-size: 12px;
    }
}

@media (max-width:325px) {
    form {
        max-width: 90vw;
    }

    .match input[type="number"] {
        width: 22px;
        padding: 4px;
        border: 1px solid #f4f4f4;
        border-radius: 4px;
        margin: 0 5px;
        text-align: center;
    }
}
